body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.top{
    
    background-color: #1f2937;
    padding-left:300px ;
    padding-right:300px ;
    padding-bottom:70px ;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding-top:10px ;
}
.main-text{
    font-size: 48px;
    font-weight:800;
  color: #e5e7eb;
}
.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px;
    max-width: 500px;
}

.info-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 30px;
}
.subtext{
    color: rgb(166, 162, 162);
}

.quote-section{
    background-color: #e5e7e5;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-direction: column;
    align-items: end;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}
.big-box{
    background-color: #8a47f5;
    margin-left:250px ;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

}
.button2{
    background-color:#8a47f5 ;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    width:100px;
    height:35px;
}
.big-text{
    font-weight: bold;
    color: white;

}
.mini-text{
    color: #f9faf8;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}
.img{
    max-width: 300px;
}
.block{
    display: flex;
    justify-content: space-around;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: #f9faf8;
}
.button1{
    background-color:#8a47f5 ;
    color: white;
    border-color: #8a47f5;
    border-radius: 10px;
    border-style: solid;
    width:100px;
    height:35px;
}
ul{
    display: flex;
    gap: 16px;
}
.box{
   height: 120px; 
   width: 120px;
   border-radius: 10px;
   border-color: #8a47f5;
   border-style: solid;
}
.boxes{
    display: flex;
    gap: 80px;
    justify-content: center;
}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    justify-content:space-around ;
}
.container{
    max-width: 120px;
}

.subtext{
    text-align: center;
    margin-top: 7px;
}